<%- include("partials/header") %>
<h1>Sign Up</h1>

<form class="" action="/register" method="post">
  <label for="username">Username</label><input type="text" name="username" placeholder="username" value="">
  <label for="password">Password</label><input type="password" name="password" placeholder="password" value="">
  <button type="submut" name="button">Submit</button>
</form>
<%- include("partials/footer") %>
